{% load widget_tweaks %}

    <div class="container">

      <h1>Create new Ticket object</h1>

      
      <h2>{{ note }}</h2>

      
      <h2>Movie-one</h2>
      {% for pk, values in seat_dict.items %}
          {% if values.movie == "1" %}
            Seat number: {{values.number}}, for movie {{values.movie}} at {{values.time}} <br>
          {% endif %}
      {% endfor %}
      
      <h2>Movie-two</h2>
      {% for pk, values in seat_dict.items %}
          {% if values.movie == "2" %}
            Seat number: {{values.number}}, for movie {{values.movie}} at {{values.time}} <br>
          {% endif %}
      {% endfor %}

      <h2>Movie-three</h2>
      {% for pk, values in seat_dict.items %}
          {% if values.movie == "3" %}
            Seat number: {{values.number}}, for movie {{values.movie}} at {{values.time}} <br>
          {% endif %}
      {% endfor %}
      
      <br>
      <br>
      <br>
      
      <form action="{% url 'ticketBooking' %}" method="post">
          {% csrf_token %}
          {% for field in bookingform %}
          <div class="form-group">

            {{ field.label_tag }}
            {% render_field field class="form-control" %}

          </div>
          {% endfor %}

          <input type="submit" value="New Ticket Object">
      </form>

    </div>
